@tailwind base;
@tailwind components;
@tailwind utilities;

.container-gallery {
  display: flex;
  width: 400%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.panel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.panel-info {
  margin-top: 20px;
  text-align: center;
}

.connect-button:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.connect-button:active {
  transform: translateY(-1px);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
